#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  margin-top: -150px;
}

.ddr-logo {
  width: 500px;
  height: 200px;
  margin-bottom: -50px;
}

.tempo-text {
  display: inline-flex;
}

.speed-container {
  display: flex;
}

.mod-block {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  column-gap: 100px;
}

.mod-block > * {
  flex: 1 1 150px;
}

.mod-button {
  background-color: #0083E1;
  padding: 10px;
  height: 50px;
  width: 50px;
  align-self: center;
  flex-basis: auto;
}

.mod-button-active {
  background-color: green;
}

.mod-button:hover {
  background-color: red;
}

.mod-block ul {
  
  list-style-type: none;
}

.mod-block li {
  text-align: left;
  align-items: center;
  margin: 0 auto;
  line-height: 50px;
}